*{
    padding: 0;
    margin: 0;

}
body{
    background-color: #f5fcff;
}
.results{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input{
    margin-bottom: 20px;
    width: 100%;
    padding: 15px;
    font-size: 17px;
    border-radius: 5px;
}
.tablemain{
    padding: 50px 200px;
    text-align: center;
}
table{ 
    border-collapse: collapse;
    width: 100%;
    /* background-color: red; */
}
tr, td{
    border: 1.5px solid #8e8e8e;
    /* background-color: red; */
    text-align: left;
    padding: 0 15px;
    background-color: #fff;
    border-radius: 10px;
    color: rgb(43, 177, 207);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}
